# Scraping Financial Statements with Python

#### import library

In [1]:
import requests
import lxml
from lxml import html
from datetime import datetime
import pandas as pd
import numpy as np

In [2]:
symbol = 'TLKM.JK'

In [3]:
url = 'https://finance.yahoo.com/quote/' + symbol + '/balance-sheet?p=' + symbol

In [4]:
headers = {
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
    'Cache-Control': 'max-age=0',
    'Connection': 'close',
    'DNT': '1', # Do Not Track Request Header 
    'Pragma': 'no-cache',
    'Referrer': 'https://google.com',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36'
}

In [5]:
page = requests.get(url, headers=headers)
# print(page)

In [6]:
tree = html.fromstring(page.content)
# print(tree)
tree.xpath("//h1/text()")

['Perusahaan Perseroan (Persero) PT Telekomunikasi Indonesia Tbk (TLKM.JK)']

In [7]:
table_rows = tree.xpath("//div[contains(@class, 'D(tbr)')]")

In [9]:
assert len(table_rows) > 0

parsed_rows = []

for table_row in table_rows:
    parsed_row = []
    el = table_row.xpath("./div")
    
    none_count = 0
    
    for rs in el:
        try:
            (text,) = rs.xpath('.//span/text()[1]')
            parsed_row.append(text)
        except ValueError:
            parsed_row.append(np.NaN)
            none_count += 1

    if (none_count < 4):
        parsed_rows.append(parsed_row)

df = pd.DataFrame(parsed_rows)
df

,0,1,2,3,4
0,Breakdown,12/31/2021,12/31/2020,12/31/2019,12/31/2018
1,Total Assets,"276,158,000,000","245,873,000,000","235,057,000,000","205,900,000,000"
2,Total Liabilities Net Minority Interest,"130,986,000,000","125,359,000,000","117,833,000,000","88,894,000,000"
3,Total Equity Gross Minority Interest,"145,172,000,000","120,514,000,000","117,224,000,000","117,006,000,000"
4,Total Capitalization,"157,950,000,000","132,935,000,000","132,085,000,000","130,144,000,000"
5,Common Stock Equity,"121,631,000,000","102,374,000,000","99,796,000,000","98,739,000,000"
6,Capital Lease Obligations,"15,888,000,000","14,877,000,000","17,217,000,000","3,145,000,000"
7,Net Tangible Assets,"108,787,000,000","90,121,000,000","88,355,000,000","92,416,000,000"
8,Working Capital,"-7,407,000,000","-21,971,000,000","-20,432,000,000","-3,479,000,000"
9,Invested Capital,"174,322,000,000","152,219,000,000","149,536,000,000","139,676,000,000"
10,Tangible Book Value,"108,787,000,000","90,121,000,000","88,355,000,000","92,416,000,000"
11,Total Debt,"68,579,000,000","64,722,000,000","66,957,000,000","44,082,000,000"
12,Net Debt,"14,380,000,000","29,256,000,000","31,499,000,000","23,502,000,000"
13,Share Issued,"99,062,217","99,062,217","99,062,217","99,062,217"
14,Ordinary Shares Number,"99,062,217","99,062,217","99,062,217","99,062,217"

In [10]:
df = pd.DataFrame(parsed_rows)
df = df.set_index(0) # Set the index to the first column: 'Period Ending'.
df = df.transpose() # Transpose the DataFrame, so that our header contains the account names

# Rename the "Breakdown" column to "Date"
cols = list(df.columns)
cols[0] = 'Date'
df = df.set_axis(cols, axis='columns', inplace=False)

df

,Date,Total Assets,Total Liabilities Net Minority Interest,Total Equity Gross Minority Interest,Total Capitalization,Common Stock Equity,Capital Lease Obligations,Net Tangible Assets,Working Capital,Invested Capital,Tangible Book Value,Total Debt,Net Debt,Share Issued,Ordinary Shares Number
1,12/31/2021,"276,158,000,000","130,986,000,000","145,172,000,000","157,950,000,000","121,631,000,000","15,888,000,000","108,787,000,000","-7,407,000,000","174,322,000,000","108,787,000,000","68,579,000,000","14,380,000,000","99,062,217","99,062,217"
2,12/31/2020,"245,873,000,000","125,359,000,000","120,514,000,000","132,935,000,000","102,374,000,000","14,877,000,000","90,121,000,000","-21,971,000,000","152,219,000,000","90,121,000,000","64,722,000,000","29,256,000,000","99,062,217","99,062,217"
3,12/31/2019,"235,057,000,000","117,833,000,000","117,224,000,000","132,085,000,000","99,796,000,000","17,217,000,000","88,355,000,000","-20,432,000,000","149,536,000,000","88,355,000,000","66,957,000,000","31,499,000,000","99,062,217","99,062,217"
4,12/31/2018,"205,900,000,000","88,894,000,000","117,006,000,000","130,144,000,000","98,739,000,000","3,145,000,000","92,416,000,000","-3,479,000,000","139,676,000,000","92,416,000,000","44,082,000,000","23,502,000,000","99,062,217","99,062,217"

In [11]:
df.dtypes

Date                                       object
Total Assets                               object
Total Liabilities Net Minority Interest    object
Total Equity Gross Minority Interest       object
Total Capitalization                       object
Common Stock Equity                        object
Capital Lease Obligations                  object
Net Tangible Assets                        object
Working Capital                            object
Invested Capital                           object
Tangible Book Value                        object
Total Debt                                 object
Net Debt                                   object
Share Issued                               object
Ordinary Shares Number                     object
dtype: object

In [12]:
df

,Date,Total Assets,Total Liabilities Net Minority Interest,Total Equity Gross Minority Interest,Total Capitalization,Common Stock Equity,Capital Lease Obligations,Net Tangible Assets,Working Capital,Invested Capital,Tangible Book Value,Total Debt,Net Debt,Share Issued,Ordinary Shares Number
1,12/31/2021,"276,158,000,000","130,986,000,000","145,172,000,000","157,950,000,000","121,631,000,000","15,888,000,000","108,787,000,000","-7,407,000,000","174,322,000,000","108,787,000,000","68,579,000,000","14,380,000,000","99,062,217","99,062,217"
2,12/31/2020,"245,873,000,000","125,359,000,000","120,514,000,000","132,935,000,000","102,374,000,000","14,877,000,000","90,121,000,000","-21,971,000,000","152,219,000,000","90,121,000,000","64,722,000,000","29,256,000,000","99,062,217","99,062,217"
3,12/31/2019,"235,057,000,000","117,833,000,000","117,224,000,000","132,085,000,000","99,796,000,000","17,217,000,000","88,355,000,000","-20,432,000,000","149,536,000,000","88,355,000,000","66,957,000,000","31,499,000,000","99,062,217","99,062,217"
4,12/31/2018,"205,900,000,000","88,894,000,000","117,006,000,000","130,144,000,000","98,739,000,000","3,145,000,000","92,416,000,000","-3,479,000,000","139,676,000,000","92,416,000,000","44,082,000,000","23,502,000,000","99,062,217","99,062,217"

In [13]:
from datetime import datetime
import lxml
from lxml import html
import requests
import numpy as np
import pandas as pd

def get_page(url):
    # Set up the request headers that we're going to use, to simulate
    # a request by the Chrome browser. Simulating a request from a browser
    # is generally good practice when building a scraper
    headers = {
        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3',
        'Accept-Encoding': 'gzip, deflate, br',
        'Accept-Language': 'en-US,en;q=0.9',
        'Cache-Control': 'max-age=0',
        'Connection': 'close',
        'DNT': '1', # Do Not Track Request Header 
        'Pragma': 'no-cache',
        'Referrer': 'https://google.com',
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36'
    }

    return requests.get(url, headers=headers)

def parse_rows(table_rows):
    parsed_rows = []

    for table_row in table_rows:
        parsed_row = []
        el = table_row.xpath("./div")

        none_count = 0

        for rs in el:
            try:
                (text,) = rs.xpath('.//span/text()[1]')
                parsed_row.append(text)
            except ValueError:
                parsed_row.append(np.NaN)
                none_count += 1

        if (none_count < 4):
            parsed_rows.append(parsed_row)
            
    return pd.DataFrame(parsed_rows)

def clean_data(df):
    df = df.set_index(0) # Set the index to the first column: 'Period Ending'.
    df = df.transpose() # Transpose the DataFrame, so that our header contains the account names
    
    # Rename the "Breakdown" column to "Date"
    cols = list(df.columns)
    cols[0] = 'Date'
    df = df.set_axis(cols, axis='columns', inplace=False)
    
    numeric_columns = list(df.columns)[1::] # Take all columns, except the first (which is the 'Date' column)

    for column_index in range(1, len(df.columns)): # Take all columns, except the first (which is the 'Date' column)
        df.iloc[:,column_index] = df.iloc[:,column_index].str.replace(',', '') # Remove the thousands separator
        df.iloc[:,column_index] = df.iloc[:,column_index].astype(np.float64) # Convert the column to float64
        
    return df

def scrape_table(url):
    # Fetch the page that we're going to parse
    page = get_page(url);

    # Parse the page with LXML, so that we can start doing some XPATH queries
    # to extract the data that we want
    tree = html.fromstring(page.content)

    # Fetch all div elements which have class 'D(tbr)'
    table_rows = tree.xpath("//div[contains(@class, 'D(tbr)')]")
    
    # Ensure that some table rows are found; if none are found, then it's possible
    # that Yahoo Finance has changed their page layout, or have detected
    # that you're scraping the page.
    assert len(table_rows) > 0
    
    df = parse_rows(table_rows)
    df = clean_data(df)
        
    return df

In [14]:
symbol = 'TLKM'
df_balance_sheet = scrape_table('https://finance.yahoo.com/quote/' + symbol + '/balance-sheet?p=' + symbol)

AssertionError:

In [46]:
scrape_table('https://finance.yahoo.com/quote/' + symbol + '/financials?p=' + symbol)

,Date,Total Revenue,Cost of Revenue,Gross Profit,Operating Expense,Operating Income,Net Non Operating Interest Income Expense,Other Income Expense,Pretax Income,Tax Provision,...,Interest Income,Interest Expense,Net Interest Income,EBIT,Reconciled Cost of Revenue,Reconciled Depreciation,Net Income from Continuing Operation Net Minority Interest,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items
1,ttm,387542000.0,219681000.0,167861000.0,49532000.0,118329000.0,NaN,-622000.0,117694000.0,18061000.0,...,NaN,NaN,NaN,118463000.0,219681000.0,11228000.0,99633000.0,129691000.0,0.0,0.0
2,9/30/2021,365817000.0,212981000.0,152836000.0,43887000.0,108949000.0,198000.0,60000.0,109207000.0,14527000.0,...,2843000.0,2645000.0,198000.0,111852000.0,212981000.0,11284000.0,94680000.0,123136000.0,0.0,0.0
3,9/30/2020,274515000.0,169559000.0,104956000.0,38668000.0,66288000.0,890000.0,-87000.0,67091000.0,9680000.0,...,3763000.0,2873000.0,890000.0,69964000.0,169559000.0,11056000.0,57411000.0,81020000.0,0.0,0.0
4,9/30/2019,260174000.0,161782000.0,98392000.0,34462000.0,63930000.0,1385000.0,422000.0,65737000.0,10481000.0,...,4961000.0,3576000.0,1385000.0,69313000.0,161782000.0,12547000.0,55256000.0,81860000.0,0.0,0.0
5,9/30/2018,265595000.0,163756000.0,101839000.0,30941000.0,70898000.0,2446000.0,-441000.0,72903000.0,13372000.0,...,5686000.0,3240000.0,2446000.0,76143000.0,163756000.0,10903000.0,59531000.0,87046000.0,0.0,0.0

In [47]:
scrape_table('https://finance.yahoo.com/quote/' + symbol + '/cash-flow?p=' + symbol)

,Date,Operating Cash Flow,Investing Cash Flow,Financing Cash Flow,End Cash Position,Income Tax Paid Supplemental Data,Interest Paid Supplemental Data,Capital Expenditure,Issuance of Capital Stock,Issuance of Debt,Repayment of Debt,Repurchase of Capital Stock,Free Cash Flow
1,ttm,118224000.0,-20302000.0,-104337000.0,28861000.0,19100000.0,2727000.0,-10642000.0,NaN,8418000.0,-8000000.0,-84722000.0,107582000.0
2,9/30/2021,104038000.0,-14545000.0,-93353000.0,35929000.0,25385000.0,2687000.0,-11085000.0,1105000.0,20393000.0,-8750000.0,-85971000.0,92953000.0
3,9/30/2020,80674000.0,-4289000.0,-86820000.0,39789000.0,9501000.0,3002000.0,-7309000.0,880000.0,16091000.0,-12629000.0,-72358000.0,73365000.0
4,9/30/2019,69391000.0,45896000.0,-90976000.0,50224000.0,15263000.0,3423000.0,-10495000.0,781000.0,6963000.0,-8805000.0,-66897000.0,58896000.0
5,9/30/2018,77434000.0,16066000.0,-87876000.0,25913000.0,10417000.0,3022000.0,-13313000.0,669000.0,6969000.0,-6500000.0,-72738000.0,64121000.0

In [48]:
def scrape(symbol):
    print('Attempting to scrape data for ' + symbol)

    df_balance_sheet = scrape_table('https://finance.yahoo.com/quote/' + symbol + '/balance-sheet?p=' + symbol)
    df_balance_sheet = df_balance_sheet.set_index('Date')

    df_income_statement = scrape_table('https://finance.yahoo.com/quote/' + symbol + '/financials?p=' + symbol)
    df_income_statement = df_income_statement.set_index('Date')
    
    df_cash_flow = scrape_table('https://finance.yahoo.com/quote/' + symbol + '/cash-flow?p=' + symbol)
    df_cash_flow = df_cash_flow.set_index('Date')
    
    df_joined = df_balance_sheet \
        .join(df_income_statement, on='Date', how='outer', rsuffix=' - Income Statement') \
        .join(df_cash_flow, on='Date', how='outer', rsuffix=' - Cash Flow') \
        .dropna(axis=1, how='all') \
        .reset_index()
            
    df_joined.insert(1, 'Symbol', symbol)
    
    return df_joined

In [49]:
def scrape_multi(symbols):
    return pd.concat([scrape(symbol) for symbol in symbols], sort=False)

In [51]:
symbols = ['AAPL', 'GOOG']
df_combined = scrape_multi(symbols)

Attempting to scrape data for AAPL
Attempting to scrape data for GOOG

In [52]:
date = datetime.today().strftime('%Y-%m-%d')
writer = pd.ExcelWriter('Yahoo-Finance-Scrape-' + date + '.xlsx')
df_combined.to_excel(writer)
writer.save()